<li class="comment-box" id="comment-{{ comment.id }}">
    <span class="user-name">{{ comment.user_name }}</span>
    <p>{{ comment.text|safe }}</p>
    {% if comment.files.all %}
        {% for file in comment.files.all %}
            {% if file.image %}
                <img src="/media/{{ file.image }}" alt="comment image">
            {% endif %}
        {% endfor %}
    {% endif %}

    <button class="reply-button" data-comment-id="{{ comment.id }}">Ответить</button>

    {% if comment.files.all %}
        {% for file in comment.files.all %}
            {% if file.text_file %}
                <a href="/media/{{ file.text_file }}" target="_blank">Скачать текстовый файл</a>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if  comment.replies.exists %}
        <button class="toggle-replies-button" data-comment-id="{{ comment.id }}">Посмотреть комментарии</button>
    {% endif %}

    <div class="preview-container" id="preview-{{ comment.id }}" style="display: none;">
        <p class="preview-text"></p>
        <img class="preview-image" src="" alt="Preview Image" style="max-width: 320px; max-height: 240px;">
    </div>

    {% if comment.replies.all %}
        <ul class="replies" id="replies-{{ comment.id }}" style="display: none;" data-comment-id="{{ comment.id }}">
            {% for reply in comment.replies.all %}
                {% include 'comments_app/comment_item.html' with comment=reply %}
            {% endfor %}
        </ul>
    {% else %}
        <ul class="replies" id="replies-{{ comment.id }}" style="display: none;" data-comment-id="{{ comment.id }}"></ul>
    {% endif %}
</li>