{% extends 'base.html' %}

{% block content %}
<h1>Комментарии</h1>
<a href="/comments" class="button">Таблица комментариев</a>
<button class="add-comment-button">Добавить комментарий</button>
<ul id="comment-list">
    {% for comment in page_obj %}
        {% include 'comments_app/comment_item.html' with comment=comment %}
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<div id="comment-form-container" style="display: none;">
    <h2>Добавить комментарий</h2>
    <form id="comment-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="html-tag-buttons">
            <button type="button" data-tag="strong">[strong]</button>
            <button type="button" data-tag="i">[i]</button>
            <button type="button" data-tag="code">[code]</button>
            <button type="button" data-tag="a">[a]</button>
        </div>
        <div id="comment-form-errors" class="form-errors"></div>
        <button type="submit">Отправить</button>
        <button type="button" id="previewButton">Предпросмотр</button>
    </form>
    
    <div id="previewArea" style="display:none; border: 1px solid #ccc; padding: 10px; margin-top: 10px;">
        <h3>Предпросмотр</h3>
        <p class="preview-text"></p>
        <img class="preview-image" src="" alt="Preview Image" style="max-width: 320px; max-height: 240px;"/>
    </div>
</div>
<script>
    const commentUrl = "{% url 'comment' %}";
</script>
{% endblock %}
